


<h2>Student</h2>
<form action="" method="post">
    Name:<input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />

    <br />
    ID:<input type="text" name="ID" value="@Model.ID" placeholder="ID" class="form-control" />
    <br />
    CGPA:<input type="text" name="CGPA" value="@Model.CGPA" placeholder="cgpa" class="form-control" />
    <br />
    <input type="submit" value="Login" class="btn btn-danger" />
</form>

