
@{
    ViewBag.Title = "Education";
}
<nav>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/Education">Education</a> |
    <a href="/Home/Projects">Projects</a> |
    <a href="/Home/Reference">Reference</a> |
    <a href="/Home/Personal">Personal</a>

</nav>
<h2>Education</h2>
<table>
<tr>
    <th>Degree</th>
    <th>Grades</th>
    <th>Institute</th>
</tr>

<tr>
    <td>Bachelor of Computer Science</td>
    <td>3.82</td>
    <td>American International University-Bangladesh</td>
</tr>

<tr>
    <td>Higher Secondary Certificate</td>
    <td>3.81</td>
    <td>Central Womens' College</td>
</tr>

<tr>
    <td>Secondary School Certificate</td>
    <td>4.83</td>
    <td>Barnamala Ideal School</td>
</tr>
</table>
