@{
    ViewBag.Title = "Home Page";
}
<nav>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/Education">Education</a> |
    <a href="/Home/Projects">Projects</a> |
    <a href="/Home/Reference">Reference</a> |
    <a href="/Home/Personal">Personal</a> 

</nav>
<h1>Hello!</h1>
<p>
    Name: Mah- Isha Khan <br />
    ID: 20-43829-2 <br />
    Email: 20-43829-2@student.aiub.edu <br />
    Github: https://github.com/MayeshaKhan 






</p>

