
@{
    ViewBag.Title = "Personal";
}
<nav>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/Education">Education</a> |
    <a href="/Home/Projects">Projects</a> |
    <a href="/Home/Reference">Reference</a> |
    <a href="/Home/Personal">Personal</a>

</nav>
<h2>Personal</h2>
<table>
    <tr>
        <td><label>Full name</label></td>
        <td>:</td>
        <td>Mah-Isha Khan</td>
    </tr>
    <tr>
        <td><label>Gender</label></td>
        <td>:</td>
        <td>Female</td>
    </tr>
    <tr>
        <td><label>Address</label></td>
        <td>:</td>
        <td>Dhaka</td>
    </tr>
    <tr>
        <td><label>Father's name</label></td>
        <td>:</td>
        <td>Akhteruzzaman Khan</td>
    </tr>
    <tr>
        <td><label>Mother's name</label></td>
        <td>:</td>
        <td>Ferdousi Begum</td>
    </tr>
    <tr>
        <td><label>Blood Group</label></td>
        <td>:</td>
        <td>B+</td>
    </tr>
    <tr>
        <td><label>Date of Birth</label></td>
        <td>:</td>
        <td>16/12/2001</td>
    </tr>
    <tr>
        <td><label>Religion</label></td>
        <td>:</td>

        <td>Islam</td>
    </tr>
    
</table>



