
@{
    ViewBag.Title = "Projects";
}
<nav>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/Education">Education</a> |
    <a href="/Home/Projects">Projects</a> |
    <a href="/Home/Reference">Reference</a> |
    <a href="/Home/Personal">Personal</a>

</nav>

<h2>Projects</h2>
<ul>
    <li>
        Web Technologies
        <p>Project Name: Bus Ticketing Management System. <br /> 
        A Bus Ticketing Management System is a web application designed to streamline and automate the process of managing bus reservations, ticket sales, and related operations for a bus transportation service provider. Such a system helps in improving efficiency, reducing manual errors, and enhancing the overall customer experience.   </p>


    </li>

    <li>
        Object Oriented Programming 2(C#)
        <p>Project name: Library Management System.<br /> 
        A Library Management System is a desktop application designed to automate and streamline the processes involved in managing a library's resources, including books, journals, DVDs, and other materials. It helps librarians and library staff in efficiently cataloging, organizing, and managing the library's collection.</p>

    
    
    </li>
    <li>Object Oriented Programming 1(Java)
        <p>Project name: Shop Management System. <br />
        A Shop Management System is a software application designed to help manage the various aspects of retail businesses, including inventory management, sales tracking, customer interactions, and overall store operations. </p>
    
    </li>
</ul>


