
@{
    ViewBag.Title = "Reference";
}
<nav>
    <a href="/Home/Index">Index</a> |
    <a href="/Home/Education">Education</a> |
    <a href="/Home/Projects">Projects</a> |
    <a href="/Home/Reference">Reference</a> |
    <a href="/Home/Personal">Personal</a>

</nav>
<h2>Reference</h2>
<ol>
    <li>
        Farzana Bente Alam
        <p>
            Lecturer, Computer Science <br />
            American International University-Bangladesh <br />
            Contact: farzana.alam@aiub.edu
        </p>


    </li>
    <li>
        Md Mir Kawsur
        <p>
            Lecturer, Computer Science <br />
            American International University-Bangladesh <br />
            Contact: kawsur@aiub.edu
        </p>


    </li>


</ol>

